@model Literati.Models.ChangePasswordViewModel


	<section>
			<form method="post" asp-action="ChangePassword" asp-controller="Account">
			<div class="fields" style="">

				<div class="field">
				<label asp-for=CurrentPassword>Password</label>
					<input asp-for="CurrentPassword" type="password" id="email" />
					<span asp-validation-for="CurrentPassword"></span>
				</div>
				    <div class="field">
							<label asp-for="NewPassword">New Password</label>
							<input asp-for="NewPassword" type="password" id="email" />
							<span asp-validation-for="NewPassword"></span>
					</div>
				     <div class="field">
					        <label asp-for="ConfirmNewPassword">Confirm Password</label>
					        <input asp-for="ConfirmNewPassword" type="password" id="email" />
					        <span asp-validation-for="ConfirmNewPassword"></span>
				     </div>
					 <div class="field">
				           <input type="submit" value="Submit" />
					 </div>
			</div>
		</form>
	</section>

