@model Literati.Models.ResetPasswordViewModel
@{
	ViewData["Title"] = "Reset Password";
}
<div id="wrapper" class="fade-in">
	<div id="intro" style="height:fit-content; margin-top:0;padding-top:0;">
		<h2>
			Reset Password
		</h2>
		@if (TempData["Error"] != null)
		{
			<div class="alert alert-danger text-center">
				<strong>@TempData["Error"]</strong>
			</div>
		}
		@if (TempData["Success"] != null)
		{
			<div class="alert alert-danger text-center">
				<strong>@TempData["Success"]</strong>
			</div>
		}
		<div id="footer" style="max-width:50%; border-radius:5px;">
			<section>
				<form method="post" asp-action="resetPassword" asp-controller="Account">
					<div class="fields" style="display:flex;flex-direction:column; justify-content:center;align-content:center;align-self:center;align-items:center;">
						<div class="field">
							<label asp-for="NewPassword">New Password</label>
							<input asp-for="NewPassword" type="password" id="email" />
							<span asp-validation-for="NewPassword"></span>
							<label asp-for="ConfirmNewPassword">Confirm New Password</label>
							<input asp-for="ConfirmNewPassword" type="password" id="email" />
							<span asp-validation-for="ConfirmNewPassword"></span>
						</div>
						<div class="actions">
							<input type="hidden" asp-for="Token" value="@Context.Request.Query["Token"]"/>
							<input type="hidden" asp-for="Email" value="@Context.Request.Query["Email"]" />
							<br /><input type="submit" value="Reset" />
						</div>
					</div>
				</form>
			</section>

		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

