@model Literati.Models.DisplayUploadsViewModel
@{
    ViewData["Title"] = "Info Page";
}

<div style="display:flex;flex-direction:column; flex-wrap:wrap; justify-content:center;align-content:center;align-items:center;">
	<div class="card" style="display:flex;flex-direction:column; flex-wrap:wrap; justify-content:center;align-content:center;align-items:center; max-width:1000px; margin-top:40px;">
			<div class="card-body" style="max-width:900px;display:flex;flex-direction:column; flex-wrap:wrap; justify-content:center;align-content:center;align-items:center; margin-top:20px;">
		         <h1 class="text-bold text-secondary">@Model.Title</h1>
		        <img  src="~/Uploads/@Model.HasedFilePath" class="card" style="max-width:800px;" alt="...">
		        <span  class="date text-bold">@Model.UploadDate</span><br/>
			    <h3 class="text-bold text-secondary">Full Story</h3>
		        <p class="card-text" style="text-align:center">@Model.Fulldescription</p>
		    </div>
    </div>
</div>


