@model UNDEFINED.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div id="wrapper" class="fade-in">
	<div id="intro" style="height:fit-content; margin-top:0;padding-top:0;">
		<h2>
			Recover Password
		</h2>
		@if (TempData["Error"] != null)
		{
			<div class="alert alert-danger text-center">
				<strong>@TempData["Error"]</strong>
			</div>
		}
		@if (TempData["Success"] != null)
		{
			<div class="alert alert-danger text-center">
				<strong>@TempData["Success"]</strong>
			</div>
		}
		<div id="footer" style="max-width:50%; border-radius:5px;">
			<section>
				<form method="post" asp-action="ForgotPassword" asp-controller="Account">
					<div class="fields" style="display:flex;flex-direction:column; justify-content:center;align-content:center;align-self:center;align-items:center;">
						<div class="field">
							<label asp-for="Email">Email</label>
							<input asp-for="Email" type="text" id="email" />
							<span asp-validation-for="Email"></span>
						</div>
						<div class="actions">
							<br /><input type="submit" value="Recover" />
						</div>
					</div>
				</form>
			</section>

		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

